body{
    background-color: #88b6fc;
    font: normal 18pt Arial;
}

header{
    color: white;
    text-align: center;
}

section#main{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 19px rgb(0, 0, 0);

}
section#left{
    background-color: rgb(241, 234, 234);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    margin-top: -465px;
    margin-left: 10px;
    box-shadow: 7px 7px 1px black;

}



div{
    text-align: center;
}

div#msg{
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(6, 5, 20, 0.959)
}

div#img{
    margin-top: 30px;
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline ;
    font-style: italic;   
}